#intro {
    background-image: url("../images/brian-yurasits-y8k-dMPNWNI-unsplash.jpg");
}

#singleUse {
    background-image: url("../images/brian-yurasits-jVXgfjSDnJI-unsplash.jpg");
}

#co2Emission {
    background-image: url("../images/actionvance-t7EL2iG3jMc-unsplash.jpg");
}

#philAve, #philStat, #philHeatmap {
    background-color: black;
}

#philAvePic {
    background-image: url("../images/jasmin-sessler-5Wfttm2CjeI-unsplash.jpg");
}

#barangays {
    background-image: url("../images/lindbergh-paimalan-UkaakMEZf68-unsplash.jpg");
}

#swm {
    background-image: url("../images/alfonso-navarro-qph7tJfcDys-unsplash.jpg");
}

#swmBudget {
    background-image: url("../images/julian-paolo-dayag-A1ruaOXLJMg-unsplash.jpg");
}

#ra9003 {
    background-image: url("../images/bill-oxford-OXGhu60NwxU-unsplash.jpg");
}

#outro {
    background-color: black;
}

#everywhere {
    background: #00443E;
    height: 100vh;
}

#everywhere2 {
    background: #129184;
}

#philBg {
    background-image: url("../images/eibner-saliba-3T9dDY0WqDI-unsplash.jpg");
}

#philBg h1 {
    mix-blend-mode: multiply;
    color: black;
    background-color: white;
    line-height: 100vh;
}

#philAveMask, #philHeatmapMask {
    background: linear-gradient(270deg, #000000 3.65%, rgba(255, 255, 255, 0) 100%);
}

#stat2 {
    margin-top: 10vh;
}

#stat3 {
    margin-top: 20vh;
}

#stat4 {
    margin-top: 30vh;
}

.black-on-white {
    background-color: white;
    color: black;
}
.row-no-padding {
    margin-right: -24px !important;
}
/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }

    #singleUse {
        margin-top: -58.59px;
    }

    #co2Emission {
        margin-top: -58.59px
    }

    #philAve {
        margin-top: -58.59px
    }

    #c02 {
        max-width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    #barangays {
        margin-top: -58.59px
    }

    table {
        height: 100vh;
    }

}

@media (max-width: 992px) {
    #philAvePic, #philHeatmapPic{
        height: 50vh;
    }

    table {
        height: 50vh;
    }

    #c02 {
        max-width: 100%;
        height: 50vh;
    }

    #philAveMask {
        background: linear-gradient(0deg, #000000 3.65%, rgba(255, 255, 255, 0) 100%);
    }

    #everywhere, #philStat {
        height: 175vh;
    }

    #stat1, #stat2, #stat3, #stat4 {
        margin-top: 0vh;
    }
}

.navbar .nav-link {
    color: #fff !important;
}
