<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Unplastify</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/mdb-ui-kit/mdb.min.css" />
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            font-family: Manrope;
        }
    </style>
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand nav-link" asp-controller="Home" asp-action="Index">
                    <img class="w-50" src="images/brand-image.png" alt="brand" />
                </a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex flex-row ms-auto text-nowrap">
                        <li class="mx-3 nav-item active">
                            <a class="nav-link" href="#plastics">What are Plastics</a>
                        </li>
                        <li class="mx-3 nav-item">
                            <a class="nav-link" href="#content2" rel="nofollow"
                               target="_blank">Plastics in the Philippines</a>
                        </li>
                        <li class="mx-3 nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Action">Ways to help</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="intro" class="bg-image">
        <div class="mask" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 76.56%, #FFFFFF 100%), linear-gradient(180deg, rgba(100, 150, 150, 0.5) 62.5%, rgba(120, 168, 168, 0) 100%);">
            <div class="container d-flex align-items-center justify-content-center text-center h-100">
                <div class="text-white">

                    <h1 class="animate__animated animate__fadeInLeft display-2">Single Use,</h1>
                    <h1 class="animate__animated animate__fadeInRight display-2">We Refuse.</h1>

                    <h5 class="mt-5 h3">The change starts with you.</h5>

                </div>
            </div>
        </div>
    </div>

    <main role="main" class="mt-5">
        @RenderBody()
    </main>

    <footer class="bg-light text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2021 - Unplastify - <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="lib/mdb-ui-kit/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="lib/ScrollMagic/ScrollMagic.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
