@{
    ViewData["Title"] = "Action";
}

@section Styles
{
    <link rel="stylesheet" href="/css/action.css" />
}

<!--Action Intro-->
<div id="action-intro" class="v-100 bg-image">
    <div class="mask" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 76.56%, #FFFFFF 100%), linear-gradient(180deg, rgba(100, 150, 150, 0.5) 62.5%, rgba(120, 168, 168, 0) 100%);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100 text-white">
            <div>
                <h1 id="action_intro_title" class="display-1 font-weight-bold" style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">What Can You Do To Help?</h1>

                <p id="action_intro_txt" class="h4" style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                    Whereas recycling can help minimize the amount of waste that ends up in landfills, wetlands, and habitats, most local councils can only recycle a few forms of plastics. Even if a portion of the waste is recycled, it still needs a lot of energy and water, which isn't a good deal when it comes to single-use products. Plastic waste that ends up in landfills and oceans takes hundreds of years to degrade, and the contaminants it releases into the atmosphere is causing growing concern.
                </p>
                <p id="action_intro_txt" class=" h4 mt-4" style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Although, in our everyday lives, plastic is all around us, and removing it can be difficult.</p>
                <p id="action_intro_txt" class=" h4" style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Here are a few simple ways to get started.</p>
            </div>
        </div>
    </div>
</div>

<!--Action Info-->
<div class="bg-image vh-100 mt-5">
    <div class="mask" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EAE9E9 13.54%, #EAE9E9 80.21%, rgba(205, 205, 205, 0) 100%);">
        <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100 px-5">
            <div class="row mb-5">
                <div class="col-12 col-lg-6 align-content-center order-1 order-lg-0 mt-3 mt-lg-0">
                    <table style="min-height: 100%">
                        <tbody>
                            <tr>
                                <td class="align-middle text-lg-start text-center">
                                    <p class="font-weight-bold text-black h2">Bring your own shopping bag</p>
                                    <p class="desc-color h4">Bringing your own environmental bag is  simple, though good advice for the climate, such good and effective advice that certain policymakers have adopted legislation to encourage people to do so.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6 text-center order-0 order-lg-1">
                    <img class="img-shadow order-0 order-lg-1" src="~/images/pexels-laura-james-6097891.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-image vh-100 mt-5">
    <div class="mask">
        <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100 px-5">
            <div class="row mb-5">
                <div class="col-12 col-lg-6 text-center">
                    <img class="img-shadow" src="~/images/taylor-beach-OGgA0Yo9Dk8-unsplash.jpg" />
                </div>
                <div class="col-12 col-lg-6 align-content-center order-1 order-lg-0 mt-3 mt-lg-0">
                    <table style="min-height: 100%">
                        <tbody>
                            <tr>
                                <td class="align-middle text-lg-start text-center">
                                    <p class="font-weight-bold text-black h2">Bring your own tumbler</p>
                                    <p class="desc-color h4">Bringing your own tumbler as a container, which is also refillable, is another way to reduce your plastic footprint. Available coffee cups can look like parchment, but they normally are lined with plastic resin, polyethylene.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-image vh-100 mt-5">
    <div class="mask" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EAE9E9 13.54%, #EAE9E9 80.21%, rgba(205, 205, 205, 0) 100%);">
        <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100 px-5">
            <div class="row mb-5">
                <div class="col-12 col-lg-6 align-content-center order-1 order-lg-0 mt-3 mt-lg-0">
                    <table style="min-height: 100%">
                        <tbody>
                            <tr>
                                <td class="align-middle text-lg-start text-center">
                                    <p class="font-weight-bold text-black h2">Say no to straws</p>
                                    <p class="desc-color h4">Plastic straws are always a single-use item that is simply unnecessary, whether at home or while buying a drink at a bar or restaurant.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6 text-center order-0 order-lg-1">
                    <img class="img-shadow order-0 order-lg-1" src="~/images/straws.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-image vh-100 mt-5">
    <div class="mask">
        <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100 px-5">
            <div class="row mb-5">
                <div class="col-12 col-lg-6 text-center">
                    <img class="img-shadow" src="~/images/ella-olsson-P4jRJYN33wE-unsplash.jpg" />
                </div>
                <div class="col-12 col-lg-6 align-content-center order-1 order-lg-0 mt-3 mt-lg-0">
                    <table style="min-height: 100%">
                        <tbody>
                            <tr>
                                <td class="align-middle text-lg-start text-center">
                                    <p class="font-weight-bold text-black h2">Rethink your food storage</p>
                                    <p class="desc-color h4">It's time to reconsider plastic baggies, plastic wraps, and plastic storage containers. Why not use jars or glass containers in the fridge? Glass and metal can last longer in the recycling stream because of their durability.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-image vh-100 mt-5">
    <div class="mask" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EAE9E9 13.54%, #EAE9E9 80.21%, rgba(205, 205, 205, 0) 100%);">
        <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100 px-5">
            <div class="container">
                <div class="text-center">
                    <div class="card-body">
                        <p class="font-weight-bold text-black h2">Shop in Bulk</p>
                        <p class="desc-color h4">The kitchen generates the bulk of household plastic waste. Bringing your own bags and containers, as well as stocking up on bulk goods, is one of the most effective ways to eliminate packaging waste. </p>
                    </div>
                    <img id="center-img" src="~/images/jasmin-sessler-7ya3qMG8ats-unsplash.jpg" alt="card-img-overlay">
                </div>
            </div>
        </div>
    </div>
</div>



<!--CCC Ph Info-->
<div id="ccc_info" class="container text-center">
    <h1 class="display-3" style="margin-top:15vh; color:black; font-weight:bold;">Support Climate Change Organizations</h1>
    <p class="h4 desc-color">
        You can also support Climate Change Organizations that are taking action
    </p>
    <p class="h4 desc-color">
        against climate change
    </p>
    <img id="ccc_logo" src="~/images/ccc_logo.png" class="card-img-top" alt="card-img-top">
    <div>
        <h5 class="text-black pt-3">Climate Change Commission Philippines</h5>
        <p class="h4 desc-color">
            Climate Change Commission is the lead policy-making body of the government tasked to coordinate, monitor and evaluate government programs and ensure mainstreaming of climate change in national, local, and sectoral development plans towards a climate-resilient and climate-smart Philippines.
        </p>
        <a style="height:5vh;width:10vw; font-size:large; color: #5AC6C6;" href="https://climate.gov.ph/" target="_blank" class="btn btn-light font-weight-bold my-5">Learn More</a>
    </div>
</div>
