@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="css/home.css" />
}

@section Scripts
{
    <script src="js/home.js"></script>
}

<div id="intro" class="vh-100 bg-image">
    <div class="mask" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 76.56%, #FFFFFF 100%), linear-gradient(180deg, rgba(100, 150, 150, 0.5) 62.5%, rgba(120, 168, 168, 0) 100%);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">

                <h1 class="animate__animated animate__fadeInLeft display-2">Single Use,</h1>
                <h1 class="animate__animated animate__fadeInRight display-2">We Refuse.</h1>

                <h5 class="mt-5 h3">The change starts with you.</h5>

            </div>
        </div>
    </div>
</div>

<!--What Are Plastics-->
<div id="plastics" class="container pt-5">
    <section class="text-center">
        <h2 id="whatArePlastics" class="animate__animated display-4" style="color: #42ABC5;">What are plastics?</h2>
        <p id="whatArePlasticsDesc" class="mt-4 mb-5 h5 animate__animated" style="color: rgba(9, 92, 120, 1);">It is a material widely used in our daily lives. The word “plastics” refers to the wide range of materials its made of, specifically polymers.</p>

        <div class="row mb-5">
            <div class="col-lg-4 col-md-12 mb-4">
                <div id="card1" class="card card-font-color animate__animated" style="background-color: #71C1BA;">
                    <div class="bg-image" data-mdb-ripple-color="light">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">They're Polymers</h5>
                        <p class="card-text">
                            Polymers are either natural or synthetic substances composed of molecules linked to each other. Plastics fall in the synthetic/semi-synthetic category of polymers.<br><br><br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-4">
                <div id="card2" class="card card-font-color animate__animated" style="background-color: #71C1BA;">
                    <div class="bg-image" data-mdb-ripple-color="light">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">They're Versatile</h5>
                        <p class="card-text">
                            Plastics has various types and has a wide range of applicaitons. It’s moldable, durable, and cheap to produce. It’s what make our lives cleaner, more convenient and enjoyable.<br><br><br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-4">
                <div id="card3" class="card card-font-color animate__animated" style="background-color: #71C1BA;">
                    <div class="bg-image" data-mdb-ripple-color="light">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">They're not all Innovative</h5>
                        <p class="card-text">
                            As much as it improves our lives in many aspects, it is also responsible for the destruction of our environment due to its whopping life span of 500-1000 years before breaking down. Which affects marine life as well as the atmosphere due to carbon emissions amidst its life cycle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--Single Use Plastics-->
<div id="singleUse" class="vh-100 bg-image mt-5">
    <div class="mask" style="background: linear-gradient(180deg, rgba(0, 146, 132, 0) 0%, #00443E 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 68, 62, 0.5) 100%), linear-gradient(180deg, #FFFFFF 4.69%, rgba(255, 255, 255, 0) 67.71%);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="display-2">Single Use Plastics</h1>
            </div>
        </div>
    </div>
</div>

<!--It's Everywhere 1-->
<div id="everywhere" class="bg-image">
    <div class="mask">
        <div class="container d-flex justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="display-2 font-weight-bold pt-5">IT'S EVERYWHERE</h1>
                <p class="h4 font-weight-light pb-5">Single use plastics are ubiquitous. From the plastic water bottles we throw away, the ketchup packets we open, to the grocery bags we use to store the things we bought. It doesn’t seem like a lot of waste considering its size and density, but what if billions of others think the same?</p>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-4 col-sm-12">
                        <div class="row display-1 pb-2"><p class="text-center font-weight-bold">300</p><br><p class="text-center">million</p></div>
                        <div class="row h4"><p class="text-center">Is how much metric tons of plastics are produced worldwide, annually.</p></div>
                    </div>
                    <div class="col-md-4 col-sm-12 mt-3">
                        <div class="row display-1 pb-2"><p class="text-center font-weight-bold">4.8</p><br><p class="text-center">million</p></div>
                        <div class="row h4"><p class="text-center">Is the minimum amount of metric tons of plastic are making its way to the ocean, annually.</p></div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="row display-1 pb-2"><p class="text-center font-weight-bold">8.3</p><br><p class="text-center">billion</p></div>
                        <div class="row h4"><p class="text-center">Is the amount of metric tons of plastic produced in total, worldwide.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--It's Everywhere 2-->
<div id="everywhere2" class="vh-100 bg-image">
    <div class="mask">
        <div class="container d-flex justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="display-2 font-weight-bold pt-5">IT'S EVERYWHERE</h1>
                <p class="h4 font-weight-light pb-5">Despite the sheer amount we produce each year, recycling is not enough to prevent it from reaching and polluting our environment.</p>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-4 col-sm-12">
                        <div class="row display-1 pb-2"><p class="text-center font-weight-bold">9%</p></div>
                        <div class="row h4"><p class="text-center">Is how much plastic is being recycled a year</p></div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="row display-1 pb-2"><p class="text-center font-weight-bold">12%</p></div>
                        <div class="row h4"><p class="text-center">Is the amount of plastic that is burned annually</p></div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="row display-1 pb-2"><p class="text-center font-weight-bold">79%</p></div>
                        <div class="row h4"><p class="text-center">Is the amount of plastic that sticks around annually</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Plastic Data-->
<div id="co2Emission" class="vh-100 bg-image mt-5">
    <div class="mask">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="display-2 text-end">Plastics are responsible for roughly <b class="font-weight-bold">800 million</b> tons of <b class="font-weight-bold">CO2 emissions</b></h1>
            </div>
        </div>
    </div>
</div>

<!--CO2 Data-->
<div class="container-fluid mt-1">
    <div class="row">
        <img id="c02" class="col-lg-6 col-sm-12" src="~/images/nick-fewings--2lJGRIY5P0-unsplash.jpg" />
        <div class="col-lg-6 col-sm-12 text-lg-start text-sm-center mt-5" style="color: black;">
            <h1 class="display-1 font-weight-bold">2.75 Tonnes</h1>
            <h1 class="display-5 mt-5">If the production of plastics is to remain unchanged, annual CO2 emissions from it could grow to more than 2.75 billion tonnes by 2050.</h1>
        </div>
    </div>
</div>

<!--Philippines BIG BG-->
<div id="philBigBg" class="vh-100 bg-image">
    <div class="mask">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="display-1 font-weight-bold">PHILIPPINES</h1>
            </div>
        </div>
    </div>
</div>

<!--Philippines NO BG-->
<div id="philNoBg" class="vh-100 bg-image">
    <div class="mask">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="display-1 font-weight-bold">PHILIPPINES</h1>
            </div>
        </div>
    </div>
</div>

<!--Philippines Average-->
<div id="philAve" class="vh-100 container-fluid mt-1">
    <div class="row">
        <div id="philAvePic" class="vh-100 bg-image col-lg-6 col-sm-12">
            <div id="philAveMask" class="mask"></div>
        </div>
        <div class="col-lg-6 col-sm-12 text-lg-start text-sm-center text-white align-content-center">
            <table>
                <tbody>
                    <tr>
                        <td class="align-middle">
                            <h1 class="display-5">On Average,</h1>
                            <h1 class="display-1">
                                1 person in the PH produces about
                                <br>
                                <b class="display-1 font-weight-bold">0.4kg of waste daily</b>
                            </h1>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Ph Stat-->
<div id="philStat" class="vh-100 card-group" style="display:flex; justify-content:center; align-content:center;">
    <div class="card" style="margin-top:2vh; max-width:20vw;">
        <img src="~/images/markus-spiske-itAJUJlNmdE-unsplash.jpg" class="card-img-top img-fluid" alt="card-group-image" style="width:25vw;height:25vh;">
        <div class="card-body" style="background-color: black">
            <p class="card-text" style="color: white">60 billion plastic sachets & 16.5 million labo bags are used a year</p>
        </div>
    </div>
    <div class="card" style="margin-top:10vh;max-width:20vw;">
        <img src="~/images/christopher-vega-nnlRR2NF2ko-unsplash.jpg" class="card-img-top img-fluid" alt="card-group-image" style="width:25vw;height:25vh;">
        <div class="card-body" style="background-color: black">
            <p class="card-text" style="color: white">48 million plastic shopping bags a day</p>
        </div>
    </div>
    <div class="card" style="margin-top:18vh; max-width:20vw;">
        <img src="~/images/jasmin-sessler-5Wfttm2CjeI-unsplash.jpg" class="card-img-top img-fluid" alt="card-group-image" style="width:25vw;height:25vh;">
        <div class="card-body" style="background-color: black">
            <p class="card-text" style="color: white">163 million sachets daily</p>
        </div>
    </div>
    <div class="card" style="margin-top:26vh; max-width:20vw;">
        <img src="~/images/nick-fewings--2lJGRIY5P0-unsplash.jpg" class="card-img-top img-fluid" alt="card-group-image" style="width:25vw;height:25vh;">
        <div class="card-body" style="background-color: black">
            <p class="card-text" style="color: white">45 millon thin film bags daily</p>
        </div>
    </div>
</div>

<!--Philippine Barangays-->
<div id="barangays" class="vh-100 bg-image mt-5">
    <div class="mask" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white display-2 font-weight-bold">
                Only
                <br>
                <div class="mb-4"></div>
                <b class="text-black black-on-white">32% of the Barangays</b>
                <br>
                utilize Material Recovery Facilities <br>
                as of 2016.
            </div>
        </div>
    </div>
</div>

<!--Philippine Heatmap-->
<div id="philHeatmap" class="vh-100 container-fluid mt-1">
    <div class="row">
        <div class="col-lg-6 col-sm-12 text-lg-start text-sm-center text-white align-content-center">
            <table>
                <tbody>
                    <tr>
                        <td class="align-middle">
                            <h1 class="display-1">Waste Generation per region as of 2016</h1>
                            <h1 class="display-5">
                                According to the senate of the Philippines: “The Philippines’ waste generation continues to rise with the increase in population, improvement of living standards, rapid economic growth, and industrialization”
                            </h1>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="philHeatmapPic" class="vh-100 bg-image col-lg-6 col-sm-12">
            <div id="philHeatmapMask" class="mask"></div>
        </div>
    </div>
</div>

<!--Philippine SWM-->
<div id="swm" class="vh-100 bg-image mt-5">
    <div class="mask" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="row">
                <div class="col text-white display-2 font-weight-bold">
                    Only
                    <br>
                    <div class="mb-4"></div>
                    <b class="text-black black-on-white">20% of solid waste<br>management laws</b>
                    <br>
                    have been approved
                </div>
            </div>
        </div>
    </div>
</div>

<!--Philippine SWM Budget-->
<div id="swmBudget" class="vh-100 bg-image">
    <div class="mask" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="row">
                <div class="col text-white display-2 font-weight-bold">
                    A whopping
                    <br>
                    <div class="mb-4"></div>
                    <b class="text-black black-on-white">80%-90% of municipal<br>solid waste management budget</b>
                    <br>
                    are spent solely on collection and disposal of waste.
                </div>
            </div>
        </div>
    </div>
</div>

<!--RA9003-->
<div id="ra9003" class="vh-100 bg-image">
    <div class="mask" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.71%, #000000 80.73%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="row">
                <div class="col text-white display-2 font-weight-bold">
                    Republic Act 9003
                    <br>
                    has been sitting idly for
                    <br>
                    <div class="mb-4"></div>
                    <b class="text-black black-on-white">20 years now</b>
                </div>
            </div>
        </div>
    </div>
</div>

<!--PH Outro-->
<div id="outro" class="vh-100 bg-image">
    <div class="container text-center display-5 text-white">The sheer volume of residual waste is beyond the control of LGUs</div>
    <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100">
        <div class="row">
            <div class="col text-white display-2 font-weight-bold">
                Why wait?
                <br>
                <div class="mb-4"></div>
                <b class="text-black black-on-white">The change starts with you</b>
            </div>
        </div>
    </div>
</div>
<div class="bg-image" style="background-color: black; height: 50vh;">

</div>