#action-intro {
    background-image: url(/images/nick-fewings--2lJGRIY5P0-unsplash.jpg);
    height: 100vh;
}

#action-info {
    background-color: white;
    height: 100vh;
}

#navbar .nav-link {
    color: #fff !important;
}

#action_intro_title {
    margin-top: 10vh;
}

.action_intro_txt {
    font-size: xx-large;
}

#action_info_title {
    font-weight: bold;
}


#ccc_logo {
    max-height: 400px;
    max-width: 400px;
    align-content: center;
    margin-top: 20px
}

#center-img {
    min-width: 75%;
    max-height: 40vh;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.desc-color {
    color: #095C78;
}

.img-shadow {
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    max-height: 500px;
    max-width: 500px;
}

.desc-color {
    font-size: small;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #action-intro {
        margin-top: -58.59px;
    }
}

@media (max-width: 992px) {
    #ccc_logo {
        max-height: 200px;
        max-width: 200px;
    }

    #action_intro_title {
        font-size: xx-large;
        text-align: center;
    }

    #action_intro_txt {
        font-size: small;
        text-align: center;
    }

    #action_info_img {
        max-height: 300px;
        max-width: 300px;
    }
}
